<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net45" />
  <package id="jose-jwt" version="2.1.0" targetFramework="net45" requireReinstallation="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="WebSharper" version="3.6.18.241" targetFramework="net45" />
  <package id="WebSharper.Html" version="3.6.10.22" targetFramework="net45" />
  <package id="WebSharper.Owin" version="3.6.13.132" targetFramework="net461" />
  <package id="WebSharper.UI.Next" version="3.6.15.211" targetFramework="net45" />
</packages>