<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" 
      internalLogFile=".\temp\nlog-internal.log">
  
  <targets>
    <target name="console" xsi:type="Console"
            layout="[${longdate}] ${level:uppercase=true}: ${message}"/>
    <target name="httpSSE" xsi:type="HttpSSELog"
            layout="[${longdate}] ${level:uppercase=true}: ${message}"/>
    <target name="db" xsi:type="SqliteLog" 
            database="data\logs.db" 
            layout="${message}"/>
    <target xsi:type="File"
        name="file"
        layout="[${longdate}] ${level}: ${message}"
        fileName="logfiles\${date:universalTime=true:format=yyyy-MM-dd}.logs"
        createDirs= "true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="db" />
    <logger name="*" minlevel="Trace" writeTo="httpSSE" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
